body {
        /* Used the transparency feature on the background color to blend and make textured graphics pop */
        background-color: rgba(255, 215, 0, 0.5);
        padding: 10px;
        text-align: center;
        font-style: sans-serif;
        font-size: 40px;
        color: black;
       }

       .container {
        align: center;
        /*background-color: transparent;
        margin: auto;
        width: auto;
        height: auto;*/
       }


       h2 {
          color: rgb(107, 142, 40);
          font-size: 40px;
        }
     /* used em feature to give groovy man emphasis also used transparency to tone blend color with top text */
       h1 em {
         color: rgba(139, 69, 19, 0.67);
         font-size: 50px;
         }
     /* box-one is Those Amazing 70s Were So.. text */
       #box-one {
           font-size-adjust: auto: large;
           background-color: rgba(255, 215, 0, 0.5);
           text-align: center;

       }
      /* box-two is the peace image */
       #box-two {
           background-color: rgba(255, 215, 0, 0.5);
           text-align: center;
           /*width: 700px;
           height: 680px;
           position: absolute;*/
       }
      /* box-three is "Groovy Man!" text */
       #box-three {
           font-size-adjust: auto: large;
           background-color: rgba(255, 215, 0, 0.5);
           text-align: center;
       }



/* CHANGE SIZE OF PEACE SIGN, this will lessen the scrolling issue */
#peace {
  width: 30%;
}
/* POSITION AND SIZE FLOWERS, to get them where you want with cushion
(in this case, using MARGINS, not PADDING) */
#flower-top-left {
  width: 19%;
  height: auto;
  position: absolute;
  left: 0;
  margin: 18px;
}
#flower-top-right {
  width: 19%;
  height: auto;
  position: absolute;
  right: 0;
  margin: 18px;
}
#flower-bottom-left {
  width: 19%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 18px;
}
#flower-bottom-right {
  width: 19%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 18px;
}
