/*  font link */
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
/* body and background image */
body {

  width: 100%;
  height: 100%;
  background-image: url(../images/stressedCoder.jpg);
  background-size: cover;
  border: 1px solid black;
  margin: 0px;
  padding: 1px;
}
a {
 text-decoration: none;
}
ul {
  list-style-type: none;
}
   li {
    display: inline;
}
h1 {
 background-color: rgba(255,255,255,.2);
 font-family: sans-serif, cursive;
  font-size: 40px;
  text-align: left;
  margin: 20px;
  padding: relative;
  color: rgb(127, 255, 212);
}
  p {
background-color: rgba(255,255,255,.2);
  font-family: 'Marck Script', cursive;
   font-size: 30px;
  text-align: left;
  margin: 20px;
  padding: relative;
  color: rgb(127, 255, 212);
  }
#box-1 {
  width: 19%;
  height: auto;
  position: absolute;
  left: 0;
  margin: 25px;
  padding: relative;
}
#box-2 {
  width: 19%;
  height: auto;
  position: absolute;
  left: 0;
  margin: 25px;
  padding: relative;
}

  #box-3-github-profile-link-container {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
  /* positioning: */
    margin: 20px;
    padding: 10px;
  }
  .#box-3-github-profile-link-container a:hover {
    background-color: lightblue;
  }
  .#box-3-github-profile-link-container-img {
    width: 30px;
    height: 30px;
    margin: 10px;
     align: right;
     float:right;
  }

.assignment-link {
    Position: absolute;
    top: -20px;
    left: 0px;
    margin: inherit;
    padding: 0.25em;
    min-width: 40px;
    font-size: 14pt;
    color: rgb(127, 255, 212);
    background-color: grey;
    line-height: 2.1em;
    text-align: center;

}

.assignment-link:hover a:hover {
    background-color: lightblue;
    position: relative;
    color: #333;
}
