/*  font link */
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

/*  added backgrond Image to darken the overall design */
background-image: url("images/background.png");

div {
    opacity: 0.7;
    font: 12px serif;
}
/* This is for the visual Image I photoshopped for this project */
#photography{
  width: 700px;
  height: 410px;
  align: center;
}

/* fonts for text */
 h1 {
font-family: serif;
font-size: 40px;
color: rgb(127, 255, 212);
text-align: center;
}
h3 {
  font-family: serif;
  color: rgb(127, 255, 212);
  text-align: center;
}
p {
  font-family: 'Marck Script', cursive;
  font-size: 23px;
  color: rgb(127, 255, 212);
  text-align: center;
  padding: -20px;
}
a {
  text-decoration: none;
}
/* Div section */
#namediv {
  z-index: -2;
    height: 138px;
    position: relative;
    top: 30px;
    border: 1px dashed grey;
    background-color: grey;
    margin: 0px 50px 0px 50px;
    text-align: center;
 }
 #emptyleftdiv {
   z-index: 5;
  position: absolute;
  width: 150px;
  height: 700px;
  top: 10px;
  left: 10px;
  border: 1px dashed grey;
  background-color: rgb(143, 188, 139);

  text-align: center;
}
  #imgdiv {
    z-index: -3;
     height: 425px;
     position: relative;
     top: 15px;
     left: 0px;
     border: 1px ;
     background-color: rgb(0, 0, 0);
     margin: 0px 50px 0px 50px;
     text-align: center;
}
 #profilediv {
   z-index: 1;
  position: absolute;
  width: 150px;
  height: 700px;
  top: 10px;
  right: 10px;
  border: 1px dashed grey;
  background-color: rgb(143, 188, 139);

  text-align: center;
}
#assignmentdiv {
z-index: -2;
  height: 110px;
  border: 1px dashed grey;
  background-color: grey;
  margin: 0px 50px 0px 50px;
  text-align: center;
}
/* Links, inline style, hover.. for assignments and Repo */
.assignment-links {
  position: relative;
  top: 3px;
  left: -21px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.assignment-links a {
  font-size: 20px;
  padding: 5px 7px;
  background-color: grey;
  border: 5px solid transparent;
  color:  rgb(127, 255, 212);
  font-weight: bold;
}
.assignment-links a:hover {
  border: 2px solid rgb(143, 188, 139);
  position: relative;
  bottom: 10px;
}
